# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=hyunju password=love1004")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files("data/song_data")
print(song_files)

['/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAEF128F4273421.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAARJ128F9320760.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAFD128F92F423A.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAPK128E0786D96.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAVO128F93133D4.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAABD128F429CF47.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAAW128F429D538.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAADZ128F9348C2E.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAVG12903CFA543.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAMO128F1481E7F.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACOW128F933E35F.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACPE128F421C1B9.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACTB12903CAAF15.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACFV128F935E50B.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACIW12903CC0F6D.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACVS128E078BE39.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACER128F4290F96.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACSL128F93462F4.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACHN128F1489601.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACLV128F427E123.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACZK128F4243829.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACCG128F92E8A55.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACQT128F9331780.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/C/TRAACNS128F14A2DF5.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABDL12903CAABBA.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABXG128F9318EBD.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABYN12903CFD305.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABNV128F425CEE1.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABJL12903CDCF1A.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABCL128F4286650.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABYW128F4244559.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABJV128F1460C49.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABLR128F423B7E3.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABRB128F9306DD5.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/A/B/TRAABVM128F92CA9DC.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAIO128F42938F9.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAWW128F4250A31.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAFJ128F42AF24E.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAXV128F92F6AE3.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAFP128F931E9A1.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAXL128F424FC50.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABATO128F42627E9.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAXR128F426515F.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABACN128F425B784.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/A/TRABAZH128F930419A.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCFL128F149BB0D.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCKL128F423A778.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCEI128F424C983.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCEC128F426456E.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCUQ128E0783E2B.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCRU128F423F449.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCXB128F4286BD3.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCPZ128F4275C32.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCYE128F934CE1D.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCIX128F4265903.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/C/TRABCTK128F934B224.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBKX128F4285205.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBBV128F42967D7.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBOR128F4286200.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBAM128F429D223.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBXU128F92FEF48.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBZN12903CD9297.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBTA128F933D304.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBNP128F932546F.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBOP128F931B50D.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBLU128F93349CF.json', '/Users/songhyeonju/Desktop/SW_study/Data_engineering/DE_nanodegree/project/first pr/data-modeling-practice/first_pr/data/song_data/A/B/B/TRABBJE12903CDB442.json']

In [5]:
filepath = song_files[0]

In [6]:
df = pd.read_json(filepath, lines=True)
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = list(df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0])
print(df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0])
print(df[['song_id', 'title', 'artist_id', 'year', 'duration']].values)
print(df[['song_id', 'title', 'artist_id', 'year', 'duration']])
song_data

['SONHOTT12A8C13493C' 'Something Girls' 'AR7G5I41187FB4CE6C' 1982
 233.40363]
[['SONHOTT12A8C13493C' 'Something Girls' 'AR7G5I41187FB4CE6C' 1982
  233.40363]]
              song_id            title           artist_id  year   duration
0  SONHOTT12A8C13493C  Something Girls  AR7G5I41187FB4CE6C  1982  233.40363

['SONHOTT12A8C13493C',
 'Something Girls',
 'AR7G5I41187FB4CE6C',
 1982,
 233.40363]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = list(df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0])
artist_data

['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files('data/log_data')

In [12]:
filepath = log_files[0]

In [13]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df = df.loc[df['page'] == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
5,Matmos,Logged In,Joseph,M,0,Gutierrez,1449.11628,free,"Columbia, SC",PUT,NextSong,1.540809e+12,284,Supreme Balloon,200,1541911006796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3...",75

In [15]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

0   2018-11-11 02:33:56.796
1   2018-11-11 02:36:10.796
2   2018-11-11 02:40:34.796
4   2018-11-11 04:36:13.796
5   2018-11-11 04:36:46.796
Name: ts, dtype: datetime64[ns]

In [16]:
time_data = [df.ts.values, t.dt.hour.values, t.dt.day.values, t.dt.weekofyear.values, t.dt.month.values, t.dt.year.values, t.dt.weekday.values]
column_labels = ['start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday']

In [17]:
time_df = pd.DataFrame(dict(zip(column_labels, time_data)))
# print(zip(column_labels, time_data))
print(dict(zip(column_labels, time_data)))
time_df.head()

{'start_time': array([1541903636796, 1541903770796, 1541904034796, 1541910973796,
       1541911006796, 1541930188796, 1541930447796, 1541930647796,
       1541930908796, 1541931120796, 1541932063796, 1541932424796,
       1541932582796, 1541932814796, 1541933003796, 1541933178796,
       1541934891796, 1541943682796, 1541944343796, 1541944702796,
       1541945143796, 1541945274796, 1541945376796, 1541945669796,
       1541945706796, 1541945872796, 1541945977796, 1541946298796,
       1541946605796, 1541946833796, 1541947036796, 1541947258796,
       1541947469796, 1541947644796, 1541947662796, 1541947915796,
       1541948047796, 1541948181796, 1541948244796, 1541948412796,
       1541948437796, 1541948666796, 1541948846796, 1541949012796,
       1541949296796, 1541952079796, 1541952335796, 1541952552796,
       1541952823796, 1541959713796, 1541962092796, 1541962141796,
       1541962316796, 1541962416796, 1541962486796, 1541965305796,
       1541965525796, 1541965733796, 1541966183796, 1541966358796,
       1541966589796, 1541966762796, 1541966932796, 1541967202796,
       1541967355796, 1541967558796, 1541967723796, 1541967940796,
       1541970568796, 1541970828796, 1541971049796, 1541979540796,
       1541979748796]), 'hour': array([ 2,  2,  2,  4,  4,  9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11,
       13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 18, 18,
       18, 18, 18, 18, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20,
       21, 21, 21, 23, 23]), 'day': array([11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11]), 'week': array([45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45,
       45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45,
       45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45,
       45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45,
       45, 45, 45, 45, 45]), 'month': array([11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11,
       11, 11, 11, 11, 11]), 'year': array([2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
       2018, 2018, 2018, 2018, 2018, 2018, 2018]), 'weekday': array([6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6])}

      start_time  hour  day  week  month  year  weekday
0  1541903636796     2   11    45     11  2018        6
1  1541903770796     2   11    45     11  2018        6
2  1541904034796     2   11    45     11  2018        6
3  1541910973796     4   11    45     11  2018        6
4  1541911006796     4   11    45     11  2018        6

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
print(time_df.iterrows())
for i, row in time_df.iterrows():
    print(list(row))
    cur.execute(time_table_insert, list(row))
    conn.commit()

<generator object DataFrame.iterrows at 0x7fcdd10ba190>
[1541903636796, 2, 11, 45, 11, 2018, 6]
[1541903770796, 2, 11, 45, 11, 2018, 6]
[1541904034796, 2, 11, 45, 11, 2018, 6]
[1541910973796, 4, 11, 45, 11, 2018, 6]
[1541911006796, 4, 11, 45, 11, 2018, 6]
[1541930188796, 9, 11, 45, 11, 2018, 6]
[1541930447796, 10, 11, 45, 11, 2018, 6]
[1541930647796, 10, 11, 45, 11, 2018, 6]
[1541930908796, 10, 11, 45, 11, 2018, 6]
[1541931120796, 10, 11, 45, 11, 2018, 6]
[1541932063796, 10, 11, 45, 11, 2018, 6]
[1541932424796, 10, 11, 45, 11, 2018, 6]
[1541932582796, 10, 11, 45, 11, 2018, 6]
[1541932814796, 10, 11, 45, 11, 2018, 6]
[1541933003796, 10, 11, 45, 11, 2018, 6]
[1541933178796, 10, 11, 45, 11, 2018, 6]
[1541934891796, 11, 11, 45, 11, 2018, 6]
[1541943682796, 13, 11, 45, 11, 2018, 6]
[1541944343796, 13, 11, 45, 11, 2018, 6]
[1541944702796, 13, 11, 45, 11, 2018, 6]
[1541945143796, 14, 11, 45, 11, 2018, 6]
[1541945274796, 14, 11, 45, 11, 2018, 6]
[1541945376796, 14, 11, 45, 11, 2018, 6]
[1541945669796, 14, 11, 45, 11, 2018, 6]
[1541945706796, 14, 11, 45, 11, 2018, 6]
[1541945872796, 14, 11, 45, 11, 2018, 6]
[1541945977796, 14, 11, 45, 11, 2018, 6]
[1541946298796, 14, 11, 45, 11, 2018, 6]
[1541946605796, 14, 11, 45, 11, 2018, 6]
[1541946833796, 14, 11, 45, 11, 2018, 6]
[1541947036796, 14, 11, 45, 11, 2018, 6]
[1541947258796, 14, 11, 45, 11, 2018, 6]
[1541947469796, 14, 11, 45, 11, 2018, 6]
[1541947644796, 14, 11, 45, 11, 2018, 6]
[1541947662796, 14, 11, 45, 11, 2018, 6]
[1541947915796, 14, 11, 45, 11, 2018, 6]
[1541948047796, 14, 11, 45, 11, 2018, 6]
[1541948181796, 14, 11, 45, 11, 2018, 6]
[1541948244796, 14, 11, 45, 11, 2018, 6]
[1541948412796, 15, 11, 45, 11, 2018, 6]
[1541948437796, 15, 11, 45, 11, 2018, 6]
[1541948666796, 15, 11, 45, 11, 2018, 6]
[1541948846796, 15, 11, 45, 11, 2018, 6]
[1541949012796, 15, 11, 45, 11, 2018, 6]
[1541949296796, 15, 11, 45, 11, 2018, 6]
[1541952079796, 16, 11, 45, 11, 2018, 6]
[1541952335796, 16, 11, 45, 11, 2018, 6]
[1541952552796, 16, 11, 45, 11, 2018, 6]
[1541952823796, 16, 11, 45, 11, 2018, 6]
[1541959713796, 18, 11, 45, 11, 2018, 6]
[1541962092796, 18, 11, 45, 11, 2018, 6]
[1541962141796, 18, 11, 45, 11, 2018, 6]
[1541962316796, 18, 11, 45, 11, 2018, 6]
[1541962416796, 18, 11, 45, 11, 2018, 6]
[1541962486796, 18, 11, 45, 11, 2018, 6]
[1541965305796, 19, 11, 45, 11, 2018, 6]
[1541965525796, 19, 11, 45, 11, 2018, 6]
[1541965733796, 19, 11, 45, 11, 2018, 6]
[1541966183796, 19, 11, 45, 11, 2018, 6]
[1541966358796, 19, 11, 45, 11, 2018, 6]
[1541966589796, 20, 11, 45, 11, 2018, 6]
[1541966762796, 20, 11, 45, 11, 2018, 6]
[1541966932796, 20, 11, 45, 11, 2018, 6]
[1541967202796, 20, 11, 45, 11, 2018, 6]
[1541967355796, 20, 11, 45, 11, 2018, 6]
[1541967558796, 20, 11, 45, 11, 2018, 6]
[1541967723796, 20, 11, 45, 11, 2018, 6]
[1541967940796, 20, 11, 45, 11, 2018, 6]
[1541970568796, 21, 11, 45, 11, 2018, 6]
[1541970828796, 21, 11, 45, 11, 2018, 6]
[1541971049796, 21, 11, 45, 11, 2018, 6]
[1541979540796, 23, 11, 45, 11, 2018, 6]
[1541979748796, 23, 11, 45, 11, 2018, 6]

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [21]:
for index, row in df.iterrows():
#     print(row)

    # get songid and artistid from song and artist tables
    print(s)
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    print(results)
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    songplay_data = [row.ts, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent]
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [22]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.