In [1]:
%load_ext sql

In [2]:
%sql postgresql://hyunju:love1004@127.0.0.1/sparkifydb

In [3]:
%sql SELECT * FROM songplay LIMIT 5;

 * postgresql://hyunju:***@127.0.0.1/sparkifydb
(psycopg2.errors.UndefinedTable) relation "songplays" does not exist
LINE 1: SELECT * FROM songplays LIMIT 5;
                      ^

[SQL: SELECT * FROM songplays LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [4]:
%sql SELECT * FROM user_table LIMIT 5;

 * postgresql://hyunju:***@127.0.0.1/sparkifydb
(psycopg2.errors.UndefinedTable) relation "users_table" does not exist
LINE 1: SELECT * FROM users_table LIMIT 5;
                      ^

[SQL: SELECT * FROM users_table LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://hyunju:***@127.0.0.1/sparkifydb
(psycopg2.errors.UndefinedTable) relation "songs" does not exist
LINE 1: SELECT * FROM songs LIMIT 5;
                      ^

[SQL: SELECT * FROM songs LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://hyunju:***@127.0.0.1/sparkifydb
(psycopg2.errors.UndefinedTable) relation "artists" does not exist
LINE 1: SELECT * FROM artists LIMIT 5;
                      ^

[SQL: SELECT * FROM artists LIMIT 5;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://hyunju:***@127.0.0.1/sparkifydb
0 rows affected.

[]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).